<div class="plofile_wrapper row">
<img class="plofile_image" src="/images/photo8_thum.jpg" alt="">
<form action="/myimage" method="post">

<div class="file-field input-field col s6">
      <div class="btn">
        <span>編集</span>
        <input type="file" name="myimage" enctype="multipart/form-data">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
</div>
</form>
<h1 class="col s12"><%= @user_name['name']%>さん</h1>
</div>

<% @res.each do |post|%>
<div class="post_wrapper">
<p>title: <%= post['title']%></p>
<p>contents: <%= post['contents']%></p>
<img src="./images/<%= post['image']%>" alt="">
<a class="waves-effect waves-light btn" href="/delete/<%= post['id']%>">削除</a>
<a class="waves-effect waves-light btn" href="/edit/<%= post['id']%>">編集</a>
</div>
<% end%>

<a href="/post" class="btn-floating btn-large waves-effect waves-light red post_btn">
 <i class="material-icons">add</i>
 </a>
 <a class="btn #4caf50 green logout" href="/logout">logout</a>
